.main{
    width: 800px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(250, 196, 20);
    /* padding: 1rem; */
    box-sizing: border-box;
    overflow: auto;
}

span{
    margin: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}
td, th{
    font-size: 10pt;
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;

}
th{
    background-color: #aab482;
    color: white;
    text-align: center;
}
